<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<servlet>
		<servlet-name>Random</servlet-name>
		<servlet-class>exercise.RandomServlet</servlet-class>
		<init-param>
			<param-name>maxNum</param-name>
			<param-value>5</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>Form</servlet-name>
		<servlet-class>exercise.FormServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SnoopRequest</servlet-name>
		<servlet-class>exercise.SnoopRequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Random</servlet-name>
		<url-pattern>/random</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SnoopRequest</servlet-name>
		<url-pattern>/snoopRequest</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Form</servlet-name>
		<url-pattern>/form</url-pattern>
	</servlet-mapping>
</web-app>
