/projects/*/bin
/projects/*/WEB-INF/classes
/projects/*/WebContent/WEB-INF/classes
*.class
build
dist
java.hprof.txt
/maven/mvn-app
#ant/*.jar
/*.stamp
/ivy/lib/*.jar
/lib/*.jar
/static/*.jar
.ant-targets-build.xml
# various log files
/C:\\nppdf32Log\\debuglog.txt
/jxl.log
/hs_err_pid*.log
__pycache__
*.pyo
*.pyc
/.gradle
/.pydmt
/out
