<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
				http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<bean id="sorter" class="meta.sorter.impl.SorterImpl"
		init-method="init">
		<property name="list">
			<util:list value-type="java.util.ArrayList" />
		</property>
		<property name="comparator">
			<ref bean="byPriceComparator" />
		</property>
		<property name="itemCount">
			<value>30000</value>
		</property>
		<lookup-method name="getItemFactory" bean="&amp;itemFactory" />
	</bean>


	<bean id="itemFactory" class="meta.sorter.impl.ItemFactoryImpl" />

	<bean id="byNameComparator" class="meta.sorter.comparators.ItemComparatorByName" />
	<bean id="byPriceComparator" class="meta.sorter.comparators.ItemComparatorByPrice" />












	<aop:aspectj-autoproxy />

	<bean id="benchmarkAspect" class="benchmark.BenchmarkAspect" />
	<!--bean id="onewayAspect" class="benchmark.OneWayAspect"/ -->
	<bean id="sortableAspect" class="benchmark.SortableAspect" />

















	<bean id="exporter" class="org.springframework.jmx.export.MBeanExporter"
		lazy-init="false">
		<property name="beans">
			<map>
				<entry key="bean:name=sorter" value-ref="sorter" />
			</map>
		</property>
	</bean>


</beans>
