<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
		"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="sorter" class="meta.sorter.impl.SorterImpl"
		init-method="init">
		<property name="list">
			<bean class="java.util.ArrayList"></bean>
		</property>
		<property name="comparator">
			<ref bean="byPriceComparator" />
		</property>
		<property name="itemCount">
			<value>30000</value>
		</property>
		<lookup-method name="getItemFactory" bean="&amp;itemFactory" />
	</bean>


	<bean id="byNameComparator" class="meta.sorter.comparators.ItemComparatorByName" />
	<bean id="byPriceComparator" class="meta.sorter.comparators.ItemComparatorByPrice" />


	<!-- bean id="addItem" abstract="true" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean"> 
		<property name="targetObject"> <ref local="sorter" /> </property> <property 
		name="targetMethod"> <value>addItem</value> </property> </bean> <bean id="addItem1" 
		parent="addItem"> <property name="arguments"> <bean class="meta.sorter.Item"> 
		<constructor-arg> <value>Spring Course</value> </constructor-arg> <constructor-arg> 
		<value>2000</value> </constructor-arg> </bean> </property> </bean> <bean 
		id="addItem2" parent="addItem"> <property name="arguments"> <bean class="meta.sorter.Item"> 
		<constructor-arg> <value>Extreme Java Course</value> </constructor-arg> <constructor-arg> 
		<value>3000</value> </constructor-arg> </bean> </property> </bean -->

	<bean id="itemFactory" class="meta.sorter.impl.ItemFactoryImpl" />
	<bean id="benchmark" class="benchmark.BenchmarkInterceptor" />
	<bean id="oneWay" class="benchmark.OneWayInterceptor" />
	<bean id="authoproxier"
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
			<value>sorter</value>
		</property>

		<property name="interceptorNames">
			<list>
				<value>sorted</value>
				<value>oneWaySort</value>
				<value>benchmark</value>

			</list>
		</property>
	</bean>

	<bean id="sortPointcut" class="aop.SortPointcut" />
	<bean name="oneWaySort"
		class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="pointcut">
			<ref local="sortPointcut" />
		</property>

		<property name="advice">
			<ref local="oneWay" />
		</property>
	</bean>
	<bean id="sorted" class="aop.SortedMixin" />

</beans>
